body{
    background-color: #fcfafa;

}


.App{
 width: 1280px;
 height: 1280px;
 margin: 40px auto;
 background-color: #FFFFFF;

}


.monster-font{
    font-family: 'Monster Clubhouse', sans-serif;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}