

.App-header {
  //width: 1280px;
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;

  .container-name-app {
    margin-left: 70px;
  }
  .text-title-recipe {
    font-size: 40px;

    text-align: left;
    letter-spacing: 1.15px;
    color: #425966;
    text-transform: capitalize;
    opacity: 1;
  }

  .text-title-app {
    font-size: 30px;
    text-align: left;
    letter-spacing: 0.86px;
    color: #d84a4a;
    opacity: 1;
  }

  .nav-menu-sup {
    
    width: 100%;
    //display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }

  .nav-menu-home-slim{
    display: none;
  }

  .menu-item {
    text-align: center;
    letter-spacing: 0px;
    color: #425966;
    opacity: 1;
    text-decoration: none;
    //width: 130px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;

    &.selected {
      color: #d84a4a;
    }
  }
}


@media (max-width: 428px) {
  .App-header {
    
    .nav-menu-sup {
      display: none;
    }
    .nav-menu-home-slim{
      display: block;
      cursor: pointer;
    }
  }
  

}

@media (min-width: 428px) and (max-width: 767px) {
  .App-header {
    
    .nav-menu-sup {
      display: none;
    }
    .nav-menu-home-slim{
      display: block;
      cursor: pointer;
    }
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) {

  .App-header {
    
    .nav-menu-sup {
      display: flex;
      max-width: calc(100% - 350px);
      margin-right: 30px;
    }
    .menu-item {
      margin-right: 10px;
    }
  }

}

@media (min-width: 1024px){

  .App-header {
    
    .nav-menu-sup {
      display: flex;
      max-width: calc(100% - 450px);
      margin-right: 50px;
    }
  }

  
  

}